<div id='grid_{$modul}'></div>
<div id='tb_{$modul}' style='padding:5px;'>
	<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="genform('add', '{$type}','{$modul}');">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Tambah</span><span class="l-btn-icon icon-add">&nbsp;</span>
		</span>
	</a>
	&nbsp;
	<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="genform('edit', '{$type}','{$modul}');">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Edit</span><span class="l-btn-icon icon-edit">&nbsp;</span>
		</span>
	</a>
	&nbsp;
	<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="genform('delete', '{$type}','{$modul}');">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Hapus</span><span class="l-btn-icon icon-remove">&nbsp;</span>
		</span>
	</a>	
</div>
<script>
	genGrid('{$modul}','grid_{$modul}');
</script>