<div title="Dashboard" iconCls="" style="padding:5px;">
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/dashboard/realisasi/main/');" >Realisasi PBB-KB</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/dashboard/apbd/main/');" >Target Pajak APBD</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/dashboard/apbdp/main/');" >Target Pajak APBDP</a>
</div>
<div title="Pungutan Pajak" iconCls="" style="padding:5px;">
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/pungutan_pajak/pbbkb/main/');" >PBBKB</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/pungutan_pajak/pbbkb_pertamina/main/');" >PBBKB Pertamina</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/pungutan_pajak/pbbkb_pertamina_sektor/main/');" >PBBKB Pertamina Sektor</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/pungutan_pajak/pbbkb_bank/main/');" >Pembayaran Ke Bank</a>
</div>
<div title="Laporan" iconCls="" style="padding:5px;">
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Laporan PBBKB</a>
</div>
<div title="Data Master" iconCls="" style="padding:5px;">
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/provinsi/main/');" >Provinsi</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/kabupaten/main/');" >Kabupaten/Kota</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/jenis_perusahaan/main/');" >Jenis Perusahaan</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/jenis_bahanbakar/main/');" >Jenis Bahan Bakar</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/klasifikasi_pbbkb/main/');" >Klasifikasi PBB-KB</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/klasifikasi_pbbkb_pertamina/main/');" >Klasifikasi PBB-KB Pertamina</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/profil_wajib_pungut/main/');" >Profil Wajib Pungut</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/profil_wajib_pajak/main/');" >Profil Wajib Pajak</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/master/bank/main/');" >Bank</a>
</div>
<div title="Setting" iconCls="" style="padding:5px;">
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/setting/tahun_pajak/main/');" >Tahun Pajak</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/setting/target_pajak/main/');" >Target Pajak</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/setting/tingkat_daerah/main/');" >Tingkat Daerah</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/setting/jabatan/main/');" >Jabatan</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/setting/owner/main/');" >Lembaga Pengguna/Owner</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/setting/user_level/main/');" >User Level</a>
	<a href="#" plain="true" style='margin-top:2px;' class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="loadUrl(this, '{$host}home/getdisplay/setting/user_manajemen/main/');" >User Manajemen</a>
</div>
