<div title="Dashboard" iconCls="" style="padding:5px;">
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Dashboard Aplikasi</a>
</div>
<div title="Pungutan Pajak" iconCls="" style="padding:5px;">
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >PBBKB</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >PBBKB Pertamina</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >PBBKB Pertamina Sektor</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Pembayaran Ke Bank</a>
</div>
<div title="Laporan" iconCls="" style="padding:5px;">
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Laporan PBBKB</a>
</div>
<div title="Data Master" iconCls="" style="padding:5px;">
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Provinsi</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Kabupaten/Kota</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Jenis Perusahaan</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Jenis Bahan Bakar</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Klasifikasi PBB-KB</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Klasifikasi PBB-KB Pertamina</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Profil Wajib Pungut</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Profil Wajib Pajak</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Bank</a>
</div>
<div title="Setting" iconCls="" style="padding:5px;">
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Target Pajak</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Tingkat Daerah</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Jabatan</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >Owner</a>
	<a href="#" plain="true" class="easyui-linkbutton btn-main-menu" iconCls="database" onClick="" >User Manajemen</a>
</div>
