<table width='100%' style='margin-bottom:20px;'>
	<form method='post' action="{$host}">
		<tr>
			<td width='34%'>Klasifikasi PBB-KB</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<input type='text' name='NmKlas' style='width:250px;padding:2px;'>
			</td>
		</tr>
		<tr>
			<td width='24%'>Persentasi</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<input type='text' name='Persentasi' style='width:250px;padding:2px;'>
			</td>
		</tr>
		<tr>
			<td width='24%'></td>
			<td width='1%'>:</td>
			<td width='75%'>
				<select name='FieldAktif'>
				  <option value="">Aktif</option>
				  <option value="">Tidak Aktif</option>
				</select>
			</td>
		</tr>
	</form>
</table>

<div style='float:left;'>
	<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Simpan</span><span class="l-btn-icon icon-save">&nbsp;</span>
		</span>
	</a>
	&nbsp;
	<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Batal</span><span class="l-btn-icon icon-cancel">&nbsp;</span>
		</span>
	</a>
</div>