<form method='post' url="{$host}home/crud_na/tbl_pungutan_pbbkb/{$editstatus}" id="form_pbbkb" enctype="multipart/form-data">
<input type='hidden' name='RecNo' style='width:250px;padding:2px;' value="{$data_edit->RecNo|default:''}">
<table width='100%' style='margin-bottom:20px;'>
		<tr>
			<td width='34%'>Tgl. Laporan</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<input type='text' name='TglLaporan' id="TglLaporan" style='width:100%;padding:2px;' value="{$data_edit->TglLaporan|default:''}" >
			</td>
		</tr>
		<tr>
			<td width='34%'>Tahun dan Bulan Pajak</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<select name='TaxThn' id="TaxThn" style='width:45%;padding:2px;' class="easyui-validatebox" >
					<option value="">-- Pilih --</option>
					{assign var=tahun_skr value=$smarty.now|date_format:"%Y"}
					{assign var=tahun_awal value=$tahun_skr-5}
					{assign var=tahun_akhir value=$tahun_skr+5}
					{for $foo=$tahun_awal to $tahun_akhir}
						<option value="{$foo}" {if $data_edit->TaxThn|default:'' eq $foo}selected{/if}>{$foo}</option>
					{/for}
				</select>
				- 
				<select name='TaxBulan' id="TaxBulan" style='width:52%;padding:2px;' class="easyui-validatebox" >
					<option value="">-- Pilih --</option>
					<option value="1" {if $data_edit->TaxBulan|default:'' eq 1}selected{/if}>Januari</option>
					<option value="2" {if $data_edit->TaxBulan|default:'' eq 2}selected{/if}>Februari</option>
					<option value="3" {if $data_edit->TaxBulan|default:'' eq 3}selected{/if}>Maret</option>
					<option value="4" {if $data_edit->TaxBulan|default:'' eq 4}selected{/if}>April</option>
					<option value="5" {if $data_edit->TaxBulan|default:'' eq 5}selected{/if}>Mei</option>
					<option value="6" {if $data_edit->TaxBulan|default:'' eq 6}selected{/if}>Juni</option>
					<option value="7" {if $data_edit->TaxBulan|default:'' eq 7}selected{/if}>Juli</option>
					<option value="8" {if $data_edit->TaxBulan|default:'' eq 8}selected{/if}>Agustus</option>
					<option value="9" {if $data_edit->TaxBulan|default:'' eq 9}selected{/if}>September</option>
					<option value="10" {if $data_edit->TaxBulan|default:'' eq 10}selected{/if}>Oktober</option>
					<option value="11" {if $data_edit->TaxBulan|default:'' eq 11}selected{/if}>November</option>
					<option value="12" {if $data_edit->TaxBulan|default:'' eq 12}selected{/if}>Desember</option>
				</select>
			</td>
		</tr>
		<tr>
			<td width='34%'>Data Wajib Pungut</td>
			<td width='1%'>:</td>
			<td width='75%'>
				
				{*<select id="KdCP" name="KdCP" style='width:100%;padding:2px;' class="easyui-validatebox"></select>*}
				<input type="hidden" id="KdCP" name="KdCP" style='width:341px;padding:2px;' value="{$data_edit->KdCP|default:''}">
				<input type="text" id="NmCP" name="NmCP" style='width:341px;padding:2px;' class="autocomplete easyui-validatebox" value="{$data_edit->NmCP|default:''}">
				
			</td>
		</tr>
		<tr>
			<td width='34%'>Data Wajib Pajak</td>
			<td width='1%'>:</td>
			<td width='75%'>
				{*<select id="KdWP" name="KdWP" style='width:100%;padding:2px;' class="easyui-validatebox"></select>*}
				<input type="hidden" id="KdWP" name="KdWP" style='width:341px;padding:2px;' value="{$data_edit->KdWP|default:''}">
				<input type="text" id="NmWP" name="NmWP" style='width:150px;padding:2px;' class="autocomplete easyui-validatebox" value="{$data_edit->NmWP|default:''}">
				&nbsp;&nbsp;
				<!--input type='hidden' name='KdKlas' id="KdKlas" style='width:250px;padding:2px;' value="{$data_edit->KdKlas|default:''}"-->
				Klasifikasi(%): <input type="text" id="KdKlas" name="KdKlas" style='width:50px;padding:2px;' class="autocomplete easyui-validatebox" value="{$data_edit->KdKlas|default:''}">
				<!--span id="klasifikasi">{$data_edit->NmKlas|default:''}</span>&nbsp;&nbsp;Persen: <span id="persentase">{$data_edit->Persentasi|default:''}</span>%-->
			</td>
		</tr>
		<tr>
			<td width='34%'>Jenis Bahan Bakar</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<select id="KdBB" name="KdBB" style='width:50%;padding:2px;' class="easyui-validatebox"></select>
			</td>
		</tr>
		
		<tr>
			<td width='34%'>Quantity Pembelian</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<input type='text' name='QtyBB' id="QtyBB" style='width:20%;padding:2px;' value="{$data_edit->QtyBB|default:''}">
			</td>
		</tr>
		<tr>
			<td width='34%'>Total Pembayaran</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<input type='text' name='Pay' id="Pay" style='width:50%;padding:2px;'  value="{$data_edit->Pay|default:''}" >
				&nbsp;
				<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="calc_pajak" >
					<span class="l-btn-left l-btn-icon-left">
						<span class="l-btn-text">Kalkulasi Pajak</span><span class="l-btn-icon icon-calculator_add">&nbsp;</span>
					</span>
				</a>
			</td>
		</tr>
		<tr>
			<td width='34%'>Kalkulasi PBB-KB</td>
			<td width='1%'>:</td>
			<td width='75%'>
				<input type='text' name='Tax' id="Tax" style='width:50%;padding:2px;' value="{$data_edit->Tax|default:''}" >
			</td>
		</tr>
</table>
</form>
<div style='float:left;'>
	<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="simpan_pbbkb" >
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Simpan</span><span class="l-btn-icon icon-save">&nbsp;</span>
		</span>
	</a>
	&nbsp;
	<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="batal_pbbkb" onClick="closeWindow();">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Batal</span><span class="l-btn-icon icon-cancel">&nbsp;</span>
		</span>
	</a>
</div>
{literal}
<script>
{/literal}
{if $editstatus eq 'edit'}
	fillCombo(host+'home/get_combo/cl_jenis_bahan_bakar','KdBB','{$data_edit->KdBB}');
{else}
	fillCombo(host+'home/get_combo/cl_jenis_bahan_bakar','KdBB');
{/if}
{literal}	
	
$(document).ready(function(){
	$('#TglLaporan').datebox({formatter: formatDate,required:true });
	$(".easyui-validatebox").validatebox({required:true}); 
	$('#QtyBB').numberbox({  
		required:true,
		min:0,  
		precision:0 ,
		groupSeparator:',' 
	});
	$('#KdKlas').numberbox({  
		required:true,
		min:0,  
		max:100,
		precision:0 ,
		groupSeparator:',' 
	});
	
	$('#Pay').numberbox({  
		required:true,
		min:0,  
		precision:2 ,
		groupSeparator:','
		//onChange : function(){return hit_pajak('pbbkb');}		
	});
	
	
	
	$('#Tax').numberbox({  
		required:true,
		min:0,  
		precision:2 ,
		groupSeparator:',' 
	});
	//fillCombo(host+'home/get_combo/tbl_wajib_pungut_pertamina_wil','KdCP');
	//fillCombo(host+'home/get_combo/tbl_wajib_pajak_pertamina_daerah','KdWP');
	$('#NmCP').autocomplete({
		serviceUrl: host+'home/get_autocomplete/tbl_wajib_pungut_non_pertamina',
		onSelect: function (suggestion) {
			console.log(suggestion.data)
			  $('#KdCP').val(suggestion.data);
			   //$('#vr_no').html(suggestion.data);
			  
		}
	});
	$('#NmWP').autocomplete({
		serviceUrl: host+'home/get_autocomplete/tbl_wajib_pajak_non_pertamina',
		onSelect: function (suggestion) {
			console.log(suggestion.data2);
			$('#KdKlas').val(suggestion.data4);
			$('#klasifikasi').html(suggestion.data2);
			$('#persentase').html(suggestion.data3);
			 $('#KdWP').val(suggestion.data);
			   //$('#vr_no').html(suggestion.data);
			  
		}
	});
});	

	$('#calc_pajak').on('click',function(){
		return hit_pajak('pbbkb');
	});
	$('#simpan_pbbkb').on('click',function(){
		if ($('#form_pbbkb').form('validate')){
			submit_form("form_pbbkb",function(r){
				if(r==1){
					$.messager.alert('Data PBB-KB',"Data Sudah Tersimpan",'info');
					$('#grid_pbbkb').datagrid('reload');
					closeWindow();
				}
				else{
					console.log(r);
					$.messager.alert('Data PBB-KB',"Data Gagal Tersimpan",'error');
				}
			});
		}
		else{
			$.messager.alert('Data PBB-KB',"Isi Yang Kosong",'error');
		}
	})
</script>
{/literal}